html, body, div, canvas {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
}

#canvasBox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasElement {
    background-color: black;
}